1. Create a list where each member is a word of the sentence "Welcome to Computer Science 101"

In [43]:
xlist = ['welcome', 'to', 'computer', 'science', '101']
print(xlist [0])
print(xlist [1])
print(xlist [2])
print(xlist [3])
print(xlist [4])

welcome
to
computer
science
101

2. Iterate on the array created above and use indexing in each member to print the first character of each word

In [ ]:
xlist = ['welcome', 'to', 'computer', 'science', '101']
print(xlist [0])
print(xlist [1])
print(xlist [2])
print(xlist [3])
print(xlist [4])

3. Use the ```in``` operator to determine if the word "Science" is in the created list.

In [55]:
listx = ['tu', 'cosas', 'de', 'science']
if 'science' in listx:
  print("Yes, 'listx' found in List : ", listx)
if ('') in listx:
  print("no,'listx' not found in list: ", listx)

Yes, 'listx' found in List :  ['tu', 'cosas', 'de', 'science']

4. Given a string variable of arbitrary length named 'my_string', write down a script to obtain the characters two by two in reverse order.

5. Given two lists containing integers of the same length, obtain another list where the values in even index i is the sum of i-th values of the arrays and the values in odd index j is the substraction of the j-th values of the arrays.

In [45]:
x_list = [1,2,3,4,5,6]
y_list = [1,2,3,4,5,6]
z_list = x_list + y_list
print(z_list)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]