1. Write down a function that takes a string as a parameter and returns the same string in reverse order.

In [73]:
def function(x):
  print(x[::-1])
  return


function(input(""))

uff
ffu

2. Write down a function that takes an arbitrary number of strings as parameters and returns the total number of words in all of them

In [37]:
def numb():

3. Write down a function named "array_power" that takes an arbitrary number of integers, and a named parameter "base" with default value 2 and returns the power of the base parameter to the sum of the integers. e.g array_power(1, 2) returns 8 and array_power(1, 1, 1, base=3) returns 27.

4. Write down a polygon class that has a property named sizes representing the number of sizes. Write down a class rectangle and a class triangle that extend the polygon class and has a method that returns the area of the polygon.

5. Write down a class to store personal data of your customers, with properties "first_name", and "family_name". Implement a method that returns the initials of the customer.

In [37]:
## me falta lo de return la primera inicial


def personaldata():
  print("write your persoanl data")
  a=input("-first name: ")
  print(a)4
  b=input("-family name: ")
  print(b)
print(personaldata())

write your persoanl data
-first name: alejandro
alejandro
-family name: trneor+
trneor+
None